<div class="nav-container">
    <app-nav2></app-nav2>
</div>



<div class="container">

    <div class="info-box">
        <h2>Liliana Rose</h2>
        <p>@LilianaR</p>
        <img src="../assets/image/profilepic.svg">
        <div class="uploadpic">
            <button>Upload New Photo</button>
        </div>
        <div class="caution">
            <p>
                Larger image will be resized automatically<br>
                Maximum upload size is 1 MB
            </p>
        </div>
    </div>

    <div class="edit-profile">
        <h2>Edit Profile</h2>
        
        <div class="username">
            <span>Username</span>
            <input type="text" placeholder="LilianaR">   
        </div>

        <div class="names">
            <div class="given">
                <span>Given Name</span>
                <input type="text" placeholder="Liliana">  
            </div>
            <div class="surname">
                <span>Surname</span>
                <input type="text" placeholder="Rose"> 
            </div>
        </div>

        <div class="email">
            <span>Email</span>
            <input type="text" placeholder="sdfojsof@sdkfmksdj.com">   
        </div>

        <div class="password">
            <span>Password</span>
            <input type="text" placeholder="**************">   
        </div>
        <span class="linkname">Link</span>
        <div class="link">
            
            <div class="google">
                <img src="../assets/image/google.svg"> 
                <button>Linked</button>
            </div>
            <div class="facebook">
                <img src="../assets/image/facebook.svg"> 
                <button>Link</button>
            </div>
            
              
        </div>
        
    </div>





</div>
