<div class="nav-container">
    <div class="logo">
        <img src="../assets/image/logo-blue.svg">
    </div>
    <button class="home-button">
        <img src="../assets/image/homeicon-black.svg">
        <span>{{text.homepage}}</span>
    </button>
    <button class="fav-button">
        <img src="../assets/image/fav-icon.svg">
        <span>{{text.favpage}}</span>
    </button>
    <button class="lib-button">
        <img src="../assets/image/library.svg">
        <span>{{text.libpage}}</span>
    </button>




    
    
    
    
    <div class="search-bar">
        <img src="../assets/image/search-icon.svg">
        <input type="text" placeholder="Search...">
    </div>
    
    <div class="switch" >
        
        <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" (click)="Translate()">
         <label for="language-toggle"></label>
         <span class="on">ไทย</span>
         <span class="off">ENG</span>
    </div>
    <div class="profile-container">
        <img src="../assets/image/profile-black.svg">
    </div>


   
   
</div>

